$theme-colors: (
	"primary": #005da8,
	"warning": #d9282f
);

:root{
	--toastify-color-success: #005da8;
	--toastify-color-error: #d9282f;
}

.cursor-pointer{
	cursor: pointer;
}

.main-logo{
	width: 50px;
	width: 50px;
}

.hover:hover{
	color: #005da8;
}

.loader img{
	width: 125px;
	height: 125px;
}

.loader{
	height: 75vh;
}

#table-head{
	background-color: #5b7f9e;
	color: white;
}


@import '~react-toastify/scss/_variables.scss';
@import '~bootstrap/scss/bootstrap';