@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$theme-colors: (
	"primary": #005da8,
	"warning": #d9282f
);

:root{
	--toastify-color-success: #005da8;
	--toastify-color-error: #d9282f;
}

*{
	font-family: 'Nunito', sans-serif;
}

.cursor-pointer{
	cursor: pointer;
}

.main-logo{
	width: 50px;
	width: 50px;
}

.hover:hover{
	color: #005da8;
}

.loader img{
	width: 125px;
	height: 125px;
}

.loader{
	height: 75vh;
}

#table-head{
	background-color: #5b7f9e;
	color: white;
}

.pagination-item{
	text-align: center;
	width: 2.2rem;
	height: 1.7rem;
	background: transparent;
}

.pagination-item.active-page{
	background-color: #5b7f9e;
	color: white;
}

.setting-menu{
	top: 115%;
	right: 0px; 
	width: 400px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@import '~react-toastify/scss/_variables.scss';
@import '~bootstrap/scss/bootstrap';